.account-settings {
    width: 50%;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .account-settings p {
    font-size: 16px;
    color: #555;
  }
  
  button {
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #ff6200;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #e05a00;
  }
  
  .email-verification {
    margin: 10px 0;
    text-align: center;
  }
  
  .email-update,
  .username-update,
  .password-update {
    margin-top: 10px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input:focus {
    border-color: #ff6200;
    outline: none;
  }
  