.template-card {
  height: 25rem;
  width: 20rem;
  background-color: #414668;
  text-align: center;
  border-radius: 3rem;
  transition: transform 0.3s;
  color: #e2e1e1;
  cursor: pointer;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  animation: slidedown 1.15s ease forwards;
}

.template-card:hover {
  transform: scale(1.05);
}

@keyframes slidedown {
  from {
      scale: 0.85;
      transform: translateY(20%);
  }
  to {
      opacity: 1;
      scale: 1;
      transform: translateY(0);
  }
}

.template-card:hover {
  transform: scale(1.05);
}

#cardcon {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 3.5rem;
}